@import "../../styles/variables";
@import "../../styles/breakpoints";

.button__container {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  text-decoration: none;
  background-color: $primary-color;
  color: $white;
  width: 150px;
  border-radius: 5px;

  .button__icon {
    margin-left: 8px;
  }

  &:hover {
    color: $primary-color;
    outline: 1px solid $primary-color;
    background-color: $white;
  }
}
