.error-div {
  padding: 5px 10px;
  width: 90%;
  margin: 0 auto 30px auto;
  border: 1px solid red;
  // background-color: rgb(221, 126, 126, 0.1);
  color: red;
}

.error-div p {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
