@import "../../styles/variables";
@import "../../styles/breakpoints";

.dashboard__container {
  width: 95%;
  margin: 80px auto 20px auto;
  color: $text-secondary;

  h2 {
    text-transform: capitalize;
    text-align: center;
    color: $primary-color;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
  }

  @include md {
    width: 80%;
  }
}

.dashboard-card {
  width: 100%;
  outline: none;
  border: none;
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

  .dashboard__details {
    display: flex;
    justify-content: space-between;
    word-wrap: break-word;
    white-space: pre-wrap;
    align-items: center;

    .dashboard__details-type {
      width: 30%;
    }

    .dashboard__details-location {
      width: 40%;
    }

    .delete-icon {
      cursor: pointer;
      color: red;
    }

    .edit-icon {
      cursor: pointer;
      color: blue;
    }

    .more-icon {
      cursor: pointer;
      color: $primary-color;
    }
  }
}
