@import "../../styles/variables";
@import "../../styles/breakpoints";

.services__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 40px auto;

  @include md {
    width: 80%;
    margin: 20px auto;
  }

  .services__heading {
    color: $primary-color;
    text-align: center;
    font-weight: 900;
    margin-bottom: 5px;
    text-transform: uppercase;

    @include md {
      font-size: 1rem;
    }
  }

  .services__sub-heading {
    color: $text-primary;
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 30px;
    width: 80%;
    margin: 0 auto;
  }
}

.services__grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include lg {
    grid-template-columns: repeat(4, 1fr);
  }
}

.grid__item {
  width: 150px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  padding: 20px;

  &:hover,
  &:active {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-bottom: 3px solid $primary-color;
    margin-bottom: 3px;

    .icon__container {
      color: $white;
      background-color: $primary-color;
    }
  }
}

.icon__container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 12px;
  margin: 10px auto;
  border-radius: 50%;
  color: $primary-color;
}

.item__text {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
}

.item__icon {
  font-size: 18px;
}
