@import "../../styles/variables";
@import "../../styles/breakpoints";

.about__container {
  width: 100%;
  margin: 20px 0;
  @include md {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 80px auto;
  }
}

.about__container-images {
  display: flex;
  position: relative;
  width: 90%;
  margin: 20px auto;

  @include md {
    position: relative;
    display: flex;
    width: 50%;
    margin: 0;
  }
}

.about__container-text {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .about__heading {
    color: $primary-color;
    font-weight: 900;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .about__sub-heading {
    color: $text-primary;
    font-weight: 900;
    margin-bottom: 10px;
  }

  .about__text {
    line-height: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  @include md {
    width: 50%;
    align-items: flex-start;
    margin-left: 80px;
    text-align: left;

    .about__heading {
      font-size: 1rem;
    }

    .about__sub-heading {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

    .about__text {
      text-align: left;
    }
  }
}

.img {
  object-fit: cover;
}

.image-1,
.image-4 {
  margin-bottom: 10px;
  width: 150px;
  height: 120px;

  @include md {
    width: 180px;
    height: 180px;
  }
}

.image-2,
.image-3 {
  margin-bottom: 10px;
  width: 150px;
  height: 200px;

  @include md {
    width: 180px;
    height: 300px;
  }
}

.images-left {
  margin-bottom: 60px;
  width: 100%;
}

.images-right {
  margin-top: 60px;
  width: 100%;
}

.img-location-icon {
  position: absolute;
  right: 4px;
  background-color: $secondary-color;
  color: $white;
  padding: 5px;
  border-radius: 20%;
  bottom: 90px;

  @include md {
    right: 1px;
    bottom: 130px;
  }
}

.search-input {
  position: absolute;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: $white;
  color: $text-primary;
  top: 100px;
  right: -15px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 30px;
  padding: 2px 5px;

  .input-field {
    border: none;
    outline: none;
    background-color: $white;

    .search-input-icon {
      background-color: $text-primary;
      color: $white;
      border-radius: 50%;
      padding: 5px;
    }
  }
}
