@import "../../styles/variables";

.card-inner {
  background-color: $listing-bg;
  border-radius: 10px;
  margin: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-listed-apartment {
  margin: 10px auto;
  border-radius: 10px;
  width: 90%;
  height: 160px;
  object-fit: cover;
}

.card-apartment-details {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px auto;

  h3 {
    font-weight: 900;
  }
}

.card-apartment-address {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.card-location-container {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $listing-text;
  margin-top: 3px;
  margin-bottom: 5px;

  p {
    text-transform: capitalize;
  }
}

.card-apartment-location {
  h4 {
    text-transform: capitalize;
  }
}

.card-location-icon {
  color: purple;
}

.details-link {
  background-color: $primary-color;
  color: $white;
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.arrow-icon {
  margin-left: 3px;
}
